In [1]:
#importing libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
#reading csv files

burea_balance = pd.read_csv('bureau_balance.csv')
burea_balance.info()
burea_balance.head(30)
burea_balance.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
SK_ID_BUREAU      int64
MONTHS_BALANCE    int64
STATUS            object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0
15       5715448             -15      0
16       5715448             -16      0
17       5715448             -17      0
18       5715448             -18      0
19       5715448             -19      0
20       5715448             -20      X
21       5715448             -21      X
22       5715448             -22      X
23       5715448             -23      X
24       5715448             -24      X
25       5715448             -25      X
26       5715448             -26      X
27       5715449               0      C
28       5715449              -1      C
29       5715449              -2      C

In [6]:
bureau = pd.read_csv('bureau.csv')
bureau.info()
bureau.isna().sum()
#bureau.head()
#print(burea[burea['SK_ID_BUREAU']==5715448])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
SK_ID_CURR                int64
SK_ID_BUREAU              int64
CREDIT_ACTIVE             object
CREDIT_CURRENCY           object
DAYS_CREDIT               int64
CREDIT_DAY_OVERDUE        int64
DAYS_CREDIT_ENDDATE       float64
DAYS_ENDDATE_FACT         float64
AMT_CREDIT_MAX_OVERDUE    float64
CNT_CREDIT_PROLONG        int64
AMT_CREDIT_SUM            float64
AMT_CREDIT_SUM_DEBT       float64
AMT_CREDIT_SUM_LIMIT      float64
AMT_CREDIT_SUM_OVERDUE    float64
CREDIT_TYPE               object
DAYS_CREDIT_UPDATE        int64
AMT_ANNUITY               float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
dtype: int64

In [27]:
bureau1=bureau[bureau['DAYS_CREDIT_ENDDATE'].isna()]
#bureau1.head()
print (bureau1['CREDIT_ACTIVE'])

3          Active
17         Active
20         Active
32         Closed
43         Active
            ...
1716324    Active
1716351    Active
1716384    Active
1716396    Closed
1716427    Closed
Name: CREDIT_ACTIVE, Length: 105553, dtype: object

In [29]:
print(bureau['SK_ID_CURR'] == 215354)

0           True
1           True
2           True
3           True
4           True
           ...
1716423    False
1716424    False
1716425    False
1716426    False
1716427    False
Name: SK_ID_CURR, Length: 1716428, dtype: bool

In [58]:
credit_card_balance = pd.read_csv('credit_card_balance.csv')
credit_card_balance.info()
credit_card_balance[credit_card_balance['SK_ID_CURR']==380361].head(30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
SK_ID_PREV                    int64
SK_ID_CURR                    int64
MONTHS_BALANCE                int64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL       int64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT          int64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS          object
SK_DPD                        int64
SK_DPD_DEF                    int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
168933,2104755,380361,-1,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
237260,2104755,380361,-19,19217.520,765000,0.0,30268.935,0.0,30268.935,221.76,...,19217.520,19217.520,0.0,6,0.0,6.0,6.0,Active,0,0
319642,2104755,380361,-15,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
335846,2104755,380361,-7,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
643511,2104755,380361,-13,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
755907,2104755,380361,-16,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
864589,2104755,380361,-6,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
932788,2104755,380361,-8,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
953257,2104755,380361,-11,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
1090529,2104755,380361,-5,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
1169123,2104755,380361,-22,0.000,765000,0.0,0.000,0.0,0.000,2250.00,...,30.420,30.420,0.0,0,0.0,0.0,4.0,Active,0,0
1390123,2104755,380361,-4,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
1420337,2104755,380361,-25,0.000,765000,0.0,11759.400,0.0,11759.400,2250.00,...,0.000,0.000,0.0,3,0.0,3.0,1.0,Active,0,0
1503326,2104755,380361,-23,0.000,765000,0.0,26733.735,0.0,26733.735,2250.00,...,0.000,0.000,0.0,6,0.0,6.0,3.0,Active,0,0
1817289,2104755,380361,-9,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
1962637,2104755,380361,-2,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
2100022,2104755,380361,-21,4219.335,765000,0.0,18172.125,0.0,18172.125,0.00,...,4219.335,4219.335,0.0,4,0.0,4.0,4.0,Active,0,0
2380406,2104755,380361,-20,221.760,765000,0.0,0.000,0.0,0.000,2250.00,...,231.075,231.075,0.0,0,0.0,0.0,5.0,Active,0,0
2541516,2104755,380361,-17,0.000,765000,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
2607959,2104755,380361,-3,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
2706463,2104755,380361,-14,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
2725289,2104755,380361,-26,8379.000,765000,0.0,8379.000,0.0,8379.000,NaN,...,8379.000,8379.000,0.0,1,0.0,1.0,NaN,Active,0,0
3052122,2104755,380361,-12,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
3574272,2104755,380361,-10,0.000,0,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
3785233,2104755,380361,-18,0.000,765000,0.0,0.000,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
3838923,2104755,380361,-24,7103.070,765000,0.0,10221.930,0.0,10221.930,2250.00,...,7120.485,7120.485,0.0,2,0.0,2.0,2.0,Active,0,0

In [59]:
credit_card_balance.fillna(-1,inplace = True)
credit_card_balance.isna().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      0
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    0
AMT_DRAWINGS_POS_CURRENT      0
AMT_INST_MIN_REGULARITY       0
AMT_PAYMENT_CURRENT           0
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      0
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    0
CNT_DRAWINGS_POS_CURRENT      0
CNT_INSTALMENT_MATURE_CUM     0
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64

In [61]:
 
df=credit_card_balance.merge(bureau,on='SK_ID_CURR',how='outer')

print(df['SK_BUREAU_ID'])

#credit_card_balance['SK_BUREAU_ID'] = bureau['SK_ID_BUREAU'] if bureau['SK_ID_CURR'] == credit_card_balance['SK_ID_CURR'] else -1

KeyError: 'SK_BUREAU_ID'

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23993474 entries, 0 to 23993473
Data columns (total 39 columns):
SK_ID_PREV                    float64
SK_ID_CURR                    int64
MONTHS_BALANCE                float64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL       float64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT          float64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS          object
SK_DPD                        float64
SK_DPD_DEF                    float64
SK_ID_BUREAU                  float64
CREDIT_ACTIVE                 object
CREDIT_CURRENCY               object
DAYS_CREDIT                   float64
CREDIT_DAY_OVERDUE            float64
DAYS_CREDIT_ENDDATE           float64
DAYS_ENDDATE_FACT             float64
AMT_CREDIT_MAX_OVERDUE        float64
CNT_CREDIT_PROLONG            float64
AMT_CREDIT_SUM                float64
AMT_CREDIT_SUM_DEBT           float64
AMT_CREDIT_SUM_LIMIT          float64
AMT_CREDIT_SUM_OVERDUE        float64
CREDIT_TYPE                   object
DAYS_CREDIT_UPDATE            float64
AMT_ANNUITY                   float64
dtypes: float64(34), int64(1), object(4)
memory usage: 7.2+ GB

In [63]:
df['SK_ID_BUREAU']

0           6568136.0
1           6568139.0
2           6568140.0
3           6568142.0
4           6568137.0
              ...
23993469    5050937.0
23993470    5052615.0
23993471    5054382.0
23993472    5043236.0
23993473    5053356.0
Name: SK_ID_BUREAU, Length: 23993474, dtype: float64

In [53]:
credit_card_balance[credit_card_balance['SK_ID_PREV']==0].head(30)

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR, MONTHS_BALANCE, AMT_BALANCE, AMT_CREDIT_LIMIT_ACTUAL, AMT_DRAWINGS_ATM_CURRENT, AMT_DRAWINGS_CURRENT, AMT_DRAWINGS_OTHER_CURRENT, AMT_DRAWINGS_POS_CURRENT, AMT_INST_MIN_REGULARITY, AMT_PAYMENT_CURRENT, AMT_PAYMENT_TOTAL_CURRENT, AMT_RECEIVABLE_PRINCIPAL, AMT_RECIVABLE, AMT_TOTAL_RECEIVABLE, CNT_DRAWINGS_ATM_CURRENT, CNT_DRAWINGS_CURRENT, CNT_DRAWINGS_OTHER_CURRENT, CNT_DRAWINGS_POS_CURRENT, CNT_INSTALMENT_MATURE_CUM, NAME_CONTRACT_STATUS, SK_DPD, SK_DPD_DEF, SK_BUREAU_ID]
Index: []

[0 rows x 24 columns]

In [5]:
installments_payments = pd.read_csv('installments_payments.csv')
installments_payments.info()
installments_payments.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
SK_ID_PREV                int64
SK_ID_CURR                int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER     int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
7,1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
8,2723183,112102,0.0,14,-197.0,-197.0,70.740,70.740
9,1413990,109741,1.0,4,-570.0,-609.0,14308.470,14308.470

In [26]:
installments_payments[installments_payments['SK_ID_CURR']==161674]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
44807,2452854,161674,1.0,21,-546.0,-552.0,11302.605,11302.605
47438,1054186,161674,1.0,2,-1300.0,-1307.0,6948.360,6948.360
66454,1682318,161674,1.0,2,-240.0,-243.0,7374.510,7374.510
87379,2452854,161674,1.0,10,-876.0,-882.0,11302.605,11302.605
...,...,...,...,...,...,...,...,...
3669471,1682318,161674,1.0,5,-150.0,-152.0,7374.510,7374.510
3704788,2841573,161674,1.0,3,-2064.0,-2070.0,3703.275,3703.275
3724901,2452854,161674,1.0,26,-396.0,-396.0,11302.605,11302.605
3739160,2452854,161674,1.0,33,-186.0,-215.0,11302.605,11302.605
3778071,1588995,161674,1.0,4,-1641.0,-1645.0,13305.060,13305.060

In [6]:
pos_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
pos_CASH_balance.info()
pos_CASH_balance.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
SK_ID_PREV               int64
SK_ID_CURR               int64
MONTHS_BALANCE           int64
CNT_INSTALMENT           float64
CNT_INSTALMENT_FUTURE    float64
NAME_CONTRACT_STATUS     object
SK_DPD                   int64
SK_DPD_DEF               int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0

In [24]:
prev_application = pd.read_csv('previous_application.csv')
prev_application.info()
prev_application[prev_application['SK_ID_CURR']==380361].head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
SK_ID_PREV                     1670214 non-null int64
SK_ID_CURR                     1670214 non-null int64
NAME_CONTRACT_TYPE             1670214 non-null object
AMT_ANNUITY                    1297979 non-null float64
AMT_APPLICATION                1670214 non-null float64
AMT_CREDIT                     1670213 non-null float64
AMT_DOWN_PAYMENT               774370 non-null float64
AMT_GOODS_PRICE                1284699 non-null float64
WEEKDAY_APPR_PROCESS_START     1670214 non-null object
HOUR_APPR_PROCESS_START        1670214 non-null int64
FLAG_LAST_APPL_PER_CONTRACT    1670214 non-null object
NFLAG_LAST_APPL_IN_DAY         1670214 non-null int64
RATE_DOWN_PAYMENT              774370 non-null float64
RATE_INTEREST_PRIMARY          5951 non-null float64
RATE_INTEREST_PRIVILEGED       5951 non-null float64
NAME_CASH_LOAN_PURPOSE         1670214 non-null object
NAME_CONTRACT_STATUS           1670214 non-null object
DAYS_DECISION                  1670214 non-null int64
NAME_PAYMENT_TYPE              1670214 non-null object
CODE_REJECT_REASON             1670214 non-null object
NAME_TYPE_SUITE                849809 non-null object
NAME_CLIENT_TYPE               1670214 non-null object
NAME_GOODS_CATEGORY            1670214 non-null object
NAME_PORTFOLIO                 1670214 non-null object
NAME_PRODUCT_TYPE              1670214 non-null object
CHANNEL_TYPE                   1670214 non-null object
SELLERPLACE_AREA               1670214 non-null int64
NAME_SELLER_INDUSTRY           1670214 non-null object
CNT_PAYMENT                    1297984 non-null float64
NAME_YIELD_GROUP               1670214 non-null object
PRODUCT_COMBINATION            1669868 non-null object
DAYS_FIRST_DRAWING             997149 non-null float64
DAYS_FIRST_DUE                 997149 non-null float64
DAYS_LAST_DUE_1ST_VERSION      997149 non-null float64
DAYS_LAST_DUE                  997149 non-null float64
DAYS_TERMINATION               997149 non-null float64
NFLAG_INSURED_ON_APPROVAL      997149 non-null float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
353112,2104755,380361,Revolving loans,38250.000,0.0,765000.0,NaN,NaN,SATURDAY,16,...,XNA,0.0,XNA,Card X-Sell,-772.0,-744.0,365243.0,-563.0,365243.0,0.0
355891,1279489,380361,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,14,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
703832,1661043,380361,Cash loans,13114.980,112500.0,119925.0,0.0,112500.0,WEDNESDAY,15,...,XNA,12.0,high,Cash Street: high,365243.0,-2558.0,-2228.0,-2228.0,-2220.0,1.0
971473,1910156,380361,Consumer loans,1930.140,35374.5,42844.5,0.0,35374.5,TUESDAY,13,...,Consumer electronics,24.0,low_action,POS household without interest,365243.0,-458.0,232.0,-248.0,-246.0,0.0
1095765,1442773,380361,Cash loans,44793.270,1170000.0,1322896.5,NaN,1170000.0,SATURDAY,16,...,XNA,54.0,low_normal,Cash X-Sell: low,365243.0,-756.0,834.0,-726.0,-721.0,1.0
1138587,2653129,380361,Cash loans,26242.425,360000.0,399915.0,0.0,360000.0,SATURDAY,17,...,XNA,24.0,middle,Cash Street: middle,365243.0,-2289.0,-1599.0,-1599.0,-1597.0,1.0
1526491,2837103,380361,Consumer loans,8362.170,135211.5,147415.5,13500.0,135211.5,THURSDAY,12,...,Consumer electronics,24.0,low_normal,POS household with interest,365243.0,-44.0,646.0,365243.0,365243.0,1.0

In [7]:
data_filtered_burea = burea[['SK_ID_CURR','SK_ID_BUREAU','CREDIT_ACTIVE','DAYS_CREDIT','CREDIT_DAY_OVERDUE','AMT_CREDIT_MAX_OVERDUE','CREDIT_TYPE']]

In [ ]:
data_filtered_br_balance = burea_balance [['']]